@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container > * {
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.main {
  grid-area: main;
  background-color: #f5f5f5;
}

.footer {
  grid-area: footer;
  background-color: darkblue;
  color: rgb(189, 160, 0);
  font-size: 30px;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header"  100px
    "navbar"  50px
    "main"    auto
    "sidebar" 100px
    "footer"  100px;
}

.Registro{
  border: 10px rgb(0, 0, 0) solid;
  background-color: rgb(139, 139, 139);
}

.Titulos{
  border: 5px crimson solid;
}

.Emergencia{
  color: rgb(146, 11, 11);
}

.Direccion{
  width: 530px;
}


@media (min-width: 600px) {
  .grid-container {

    grid-template:
      "header  header" 100px
      "navbar  navbar" 50px
      "sidebar main"   auto
      "footer  footer" 100px /
      200px    auto;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "header  header header"  100px
      "navbar  main   sidebar" auto
      "footer  footer footer"  100px /
      200px    auto   200px;
  }
}